body {
    display: flex;
    justify-content: center;
}
.header {
    height: 60px;
}

.header-w {
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    color: rgb(24, 13, 13);
}
.todo-panel{
    Width:30em;
    border: 1px solid #eee;
    min-height: 20em;
    box-shadow: 4px 6px 6px #888;
    margin-top: 5em;
}
.todo-editor{
    padding: 5px 20px;
    display: flex;

}
.todo-editor input{
    flex-grow: 1;
    font-size: 1.2em;
    padding: 2px 5px;
}

.todo-items > .task{
    display: flex;
    align-items: center;
}

.todo-items > .task > input {
    width: 1.5em;
    height: 1.5em;
}

.todo-items > .task > label{
    flex-grow: 1;
}

.todo-items .ctrlbar > button{
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}

.todo-items .ctrlbar > button:disabled{
    
    color: grey;
}

.todo-items .ctrlbar > button:disabled:hover {
    font-weight: unset;
}

.todo-items .ctrlbar > button:hover {
    font-weight: bolder;
}

.task.done > label {
    text-decoration: line-through;
}

